<!-- <li *ngFor="let meal of meals">
    {{meal.strMeal}}
</li> -->
<!-- Categories
<li *ngFor="let category of categories">
    {{category}}
</li>

Cuisines
<li *ngFor="let cuisine of cuisines">
    {{cuisine}}
</li> -->

<div style="margin-left: 3rem; font-size: 20px">

    <div style="margin-left: 1rem">
        <label>Search</label>
        <input #searchInput type="text" size="35" (keyup.enter)="searchMealData(searchInput.value)">
    </div>

    <div style="margin-left: 1rem; margin-top: 2rem">
        <label>Filter&nbsp;&nbsp;</label>

        <select (change)="changeFilterOption($event)">
            <option value="cuisine">Cuisine</option>
            <option value="category">Category</option>
        </select>

        <select #filterBy style="width: 150px">
            <option *ngFor="let opt of filterOptions" [value]="opt">
                {{opt}}
            </option>
        </select>
        <button (click)="filterMealData(filterBy.value)">Show</button>
    </div>

    <div class="card-columns" style="margin-top: 70px">
        {{resultString}}
        <div *ngFor="let meal of meals">
            <div class="card" style="height: 370px; width: 300px; border-style: solid; margin-left: 1rem; margin-top: 2rem">
                <img class="card-img-top img-fluid" src="http://{{ meal.strMealThumb}}" alt="Card image cap">
                <div class="card-block">
                    <p class="card-text">{{meal.strMeal}}</p>
                </div>
            </div>
        </div>
    </div>

</div>