<div class="container">
    <div class="row" style="height: 350px">
        <div class="col-sm-6 text-center" style="background: rgb(71, 230, 241)">
            <br>
            <div class="row">
                <div class="col-md-6"> <h5>Project 1 Progress</h5> </div>
                <div class="col-md-6"> <h5>Project 2 Progress</h5> </div>
            </div>
            <br>
            <div>
                <circle-progress [percent]="project1Completion" [outerStrokeColor]="'#78C000'" [innerStrokeColor]="'#C7E596'"></circle-progress>
                <circle-progress [percent]="project2Completion" [outerStrokeColor]="'#78C000'" [innerStrokeColor]="'#C7E596'"></circle-progress>
            </div>
        </div>

        <div class="col-sm-3" style="background: rgb(241, 71, 170)">
            <task-project [projectName]="project1" [projectTasks]="project1Tasks" (changePercentageEvent)="changePercentageHandler($event)"></task-project>
        </div>

        <div class="col-sm-3" style="background: rgb(71, 230, 241)">
            <task-project [projectName]="project2" [projectTasks]="project2Tasks" (changePercentageEvent)="changePercentageHandler($event)"></task-project>
        </div>
    </div>
</div>