<div class="jumbotron text-center">
    <h1>Small Angular Demos</h1>
    <p>Learning angular</p>
</div>

<div class="container">
    <div class="card-deck">

        <div class="card">
            <div class="card-block">
                <h4 class="card-title">Forms and testing</h4>
                <p class="card-text">Will learn</p>
                <p class="card-text">- Template Forms with validations</p>
                <p class="card-text">- Reactive Forms with validations</p>
                <p class="card-text">- Unit Testing using Jasmine</p>
                <a routerLink="/forms-app">
                    <span></span>
                </a>
            </div>
        </div>

        <div class="card">
            <div class="card-block">
                <h4 class="card-title">Food for thought</h4>
                <p class="card-text">Will intergate with meal db api and provide functionalty for - </p>
                <p class="card-text">- Searching </p>
                <p class="card-text">- Filtering </p>
                <p class="card-text">- Tagging </p>
                <a routerLink="/food-app">
                    <span></span>
                </a>
            </div>
        </div>

        <div class="card">
            <div class="card-block">
                <h4 class="card-title">Map your dream</h4>
                <p class="card-text">Playing with google maps</p>
                <p class="card-text">- Tagging your favourite places </p>
                <p class="card-text">- Searching locations and trip planning </p>
                <a routerLink="/map-app">
                    <span></span>
                </a>
            </div>
        </div>

    </div>
    <div class="row">
        <div class="col-sm-2"></div>
        <div class="col-sm-8 card-deck mt-4 mb-5">

            <div class="card">
                <div class="card-block">
                    <h4 class="card-title">D3 Charts</h4>
                    <p class="card-text">Playing with d3 charts</p>
                    <p class="card-text">- Liquid Fill Gauge</p>
                    <p class="card-text">- World Map with heat</p>
                    <p class="card-text">- Radial Progress</p>
                    <a routerLink="/charts-app">
                        <span></span>
                    </a>
                </div>
            </div>

            <div class="card">
                <div class="card-block">
                    <h4 class="card-title">Let's Play</h4>
                    <p class="card-text">Minesweeper in typescript</p>
                    <a routerLink="/games-app">
                        <span></span>
                    </a>
                </div>
            </div>

        </div>
        <div class="col-sm-2"></div>
    </div>
</div>

<footer class="bd-footer text-center">
    <div class="container">
        <span class="text-muted">Made with &hearts;</span>
    </div>
</footer>